/*------ FONTS ------*/
@font-face {
    font-family: 'latobold';
    src: url('fonts/Lato-Bold.eot');
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold.woff2') format('woff2'),
         url('fonts/Lato-Bold.woff') format('woff'),
         url('fonts/Lato-Bold.ttf') format('truetype'),
         url('fonts/Lato-Bold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff2') format('woff2'),
         url('fonts/Lato-Regular.woff') format('woff'),
         url('fonts/Lato-Regular.ttf') format('truetype'),
         url('fonts/Lato-Regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{
    margin: 0;
}

/* -------- BASIC CLASSES ---------*/

.center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section{
    margin: 0 auto;
    padding: 150px 0;
    width: 100%;
    max-width: 900px;
    text-align: center;
    box-sizing: border-box;
}

.section-content{
    position: relative;
    padding: 50px 160px;
    border: 2px solid #000000;
    border-top: none;
}

.headline{
    position: absolute;
    top: -17px;
    left: 0;
    display: block;
    width: 100%;
    font-size: 0;
}

.headline h1{
    display: inline-block;
    width: 40%;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.headline:before, .headline:after{
    content: "";
    display: inline-block;
    width: 30%;
    height: 12px;
    border-top: 2px solid #000;
}

/* ---------- HEADER ---------*/

.header{
    position: relative;
    box-sizing: border-box;
    padding: 27.9%;
    text-align: center;
    overflow: hidden;
    background: url('../img/header.png') 0 0 / contain no-repeat;
    color: #ffffff;
    font-family: 'latoregular';
}

.header .img{
    margin-bottom: 90px;
}

.header-title{
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    font-family: 'latobold';
}

.header-text{
    font-size: 15px;
    line-height: 29px;
    text-transform: uppercase;
}

.header .center-content:after{
    content: "";
    display: block;
    height: 37px;
    margin-top: 10%;
    background: url('../img/scroll.png') center center no-repeat;
}

/* ------- ABOUT US ----------*/

.about-us{

}
