.wrapper{
    position: relative;
    overflow: hidden;
    display: block;
}
.float{
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
}

.small-column{
    width: 25%;
    height: 500px;
    background: #c1c1c1;
    padding: 10px;
}

.big-column{
    width: 50%;
    height: 500px;
    background: #ffffff;
    padding: 10px;
}
.content{
    width: 100%;
    background: #c1c1c1;
}
.clear{
    display: block;
    clear: both;
}

.clearfix{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}