 /*a.link#link-id
{
    display: block !important;
}
селектор *  не е добра практика*/

.link{

}
.link .sub-text{

}

.link > .sub-text{

}

.link .text + .sub-text{

}

.link:nth-child(2){
    /*
    засяга дете от класа конкретно
    поредното дете което отговаря на индекса в скобите
    */
}
.link:nth-last-child(2){

}

.link .sub-text ~ span{
    /*
    всичко което е span и е след елемент с клас
    .sub-text който е дете на класа .link
    */
}

/*----------box model-----------*/
.box{
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;

    /*
    width = borde + padding;

    box-sizing: border-box; работи като таблица
    таблицата няма марджин а td няма падинг
    инлайн няма височина бордер
    отрицателен падинг не може да има може само да има
    отрицателен марджин
    7vw

    */
}